.photographers.block {
    display: flex;
    align-items: flex-start;
    gap: 48px;
    max-width: 300px;
}

.photographers.block img {
    max-width: 200px;
    border-radius: 50%;
    object-fit: cover;
}