.photographers.block {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 25px;
}

.photographers.block img {
    border-radius: 50%;
    object-fit: cover;
    width: 164px;
    height: 164px;
}

.photographers.block h2 {
    margin-top: 0;
    font-family: var(--fontFamilySerif);
    margin-bottom: 13.5px;
    font-size: 24px;
}

.photographers.block {
    margin-top: 0;
    font-family: var(--fontFamilySansSerif);
    text-transform: uppercase;
    font-size: 14px;
}

.photographers.block p {
    display: flex;
    gap: 16px;
    margin-top: 12px;

    a {
        width: 30px;
        height: 30px;
        border-radius: 4px;
        text-decoration: none;
        display: inline-block;
        font-size: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        line-height: 0;
    }

    a[href*="instagram"] {
        background-image: url('/icons/instagram.svg');
    }

    a[href*="facebook"] {
        background-image: url('/icons/facebook.svg');
    }

    a[href*="x.com"] {
        background-image: url('/icons/x.svg');
    }
}