.photographers.block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    max-width: 300px;
}
.photographers.block img {
    max-width: 200px;
    border-radius: 50%;
    object-fit: cover;
}