.columns>div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns>div>div {
  order: 1;
  background-color: var(--light-color);
  padding-left: 10px;

  .button-container a {
    background-color: var(--button-primary);
    border-radius: 0;
    color: var(--text-color);
    float: left;
    padding: 1em 2.5em;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);

    text-transform: uppercase;
  }
}

.columns>div>.columns-img-col {
  order: 0;
}

.columns>div>.columns-img-col img {
  display: block;
}

@media (width >=900px) {
  .columns>div {
    align-items: center;
    flex-direction: unset;
  }

  .columns>div>div {
    flex: 1;
    order: unset;
  }
}