.articles.block {
    display: flex;
    ;
    flex-wrap: wrap;
    justify-content: normal;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.articles .article-list {
    display: flex;
    gap: 24px;
    list-style: none;

    h3 {
        color: var(--text-color);
        font-family: var(--font-family-sans-serif);
        font-size: var(--heading-font-size-xs);
        font-weight: 600;
        text-transform: uppercase;
    }

    p {
        color: var(--dark-color);
        font-size: var(--font-size-small);
        margin-top: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
        white-space: nowrap;
        width: 260px;
    }
}

@media(width < 1024px) {
    .articles .article-list {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
    }
}